body{
    background-color: #ededed;
}

.customer-container {
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.radio-button {
    display: inline-block;
    border: 1px solid lightgray;
    background: #e1e1e1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.question-label {
    margin-top: 10px;
}

.question-input {
    visibility:hidden;
}

.header-question {
    text-align: right;
    color: #cc0000;
    font-size: 20px;
    font-weight: bold;
}

.question-group {
    border-top: 1px solid #cc0000;
    padding-top: 20px;
    margin-top: 10px;
}

.question-text {
    font-size: 16px;
}

